body {
    font-family:sans-serif;
background-color: #000084;
}

#summary{
    color: solid white;
}

h1 {
    padding:10px;
    margin-left: 25px;
    top: 0px;
    border:4px solid white;
}


body {
    color: white;
}

h1 {
    color: white;
}

#students {
    height: 200px; 
    width: 200px; 
    max-width: 300px;
    position: fixed;
    bottom:353;
    right: 0px;
    width: 300px;
}

#basketball {
    height: 240px; 
    width: 260px; 
    max-width: 300px;
    position: fixed;
    top: 0;
    right: 0px;
    width: 300px;
}

#football {
    height: 240px; 
    width: 260px; 
    max-width: 300px;
    position: fixed;
    bottom: 112;
    right: 0px;
    width: 300px;
}

#spirit {
    width:1200px;
    height: 230px;
    max-width: :300px;

}