body {
	color: white
	
}
#main {
	color: white
}

body {
	font-family: monospace;
background-color: black;
}

#summary{
	color: blue;
}
h1 {
	border:5px solid black;
	padding:20px;
	margin-left: 40px
}


title {
	height: 100px;}
#pic {


  height: 100%; 
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100px;


}
