body {
	color: white
	
}


body {
	font-family: monospace;
background-color: black;
}

#summary{
	color: blue;
}
h1 {
	border:5px solid black;
	padding:20px;
	margin-left: 40px
}


title {
	height: 100px;}
#hamp {


  background-image: url("http://www.crwflags.com/fotw/images/u/us-va_hu.gif");
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 750px;

}
