<link rel=stylesheet type="text/css" href="resources/form.css">
<h1> Hear from our students! </h1>
<a href="{{html_login_url}}">Login</a>
 {{html_get_current_user}}
<img id = "students" src ="https://www.usnews.com/img/college-photo_24953.jpg">
<img id= "basketball" src="http://epmgaa.media.clients.ellingtoncms.com/img/photos/2016/03/17/Hampton_bench_erupts_t750x550.jpg?d885fc46c41745b3b5de550c70336c1b382931d2">
<img id = "spirit" src="https://secure.hamptonu.edu/development/img/hfh4.jpg">
<img id="football" src= "http://www.hamptonpirates.com/images/2016/9/29/Hampton_Howard_Football_MDP_17_SEP_2016_0001021.jpg">

<form method="POST">
    Your name:<input name="form_author">
    <br>
    <textarea name="form_comment" placeholder="Your comment here"></textarea>
    <br/>
    <input type="submit"
    value="submit">
 </form>
 {{html_comments}}