<title> My Reminders </title>


<link rel= "stylesheet" type="text/css" href= "/resources/reminders.css">

<div id="myDIV" class="header">
  
  
</div>
<body>


<ul id="myUL">
  
</ul>
<form method="POST">
    <p>Enter the date of the reminder</p> <input type= "date" name="date" style="width: 300px; ">
    <br>
    <p>Type reminder</p> 
    <textarea name="form_reminder" placeholder="Your reminder here" style= "width: 300px; height: 100px;"></textarea>
    <br/>
    <input type="submit" class="button"
    value="submit">
 </form>
 <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/QA">Forums</a></li>
  <li><a href="/remind">Reminders</a></li>
  <li><a href="/event">Upcoming Events</a></li>

  
 </ul>


<h1>Your reminders are displayed below</h1>
 {{html_comments}}
 </body>